@import url(https://fonts.googleapis.com/css?family=Inter:regular,800,900);

:root {
  --secondary: #0b0b0b;
  --primary: #68ff92;
  --striked-text: #369350;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
}

